.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .img1 {
    animation: animate 3s infinite;
    animation-direction: 8s;
    animation-delay: 3s;
  
  }

  img {
      width: 4.8%;
  }
  
  .img2 {
    animation: img2 3s infinite;
    animation-delay: 4s;
  }
  
  .img3 {
    animation: img3 5s infinite;
    animation-delay: 2s;
  }
  
  .icons {
    margin: 0 auto;
  }
  .square {
    width: 200px;
    height: 200px;
    background: black;
    margin: 0 auto;
    margin-top: 36%;
  }
  @keyframes animate {
    0% {
      transform: translate(300%, -150%) rotate(65deg);
    }
    100% {
      transform: translate(1000%, 850%) rotate(360deg);
    }
  }
  
  @keyframes img2 {
    0% {
      transform: translate(200%, -100%) rotate(65deg);
    }
    100% {
      transform: translate(900%, 850%) rotate(360deg);
    }
  }

  @keyframes img3 {
    0% {
        transform: translate(1600%, -1000%);
    }

    100% {
      transform: translate(800%, 900%) rotate(360deg);

    }
  }